<div class="margin">
<%= simple_form_for [@product, @component] do |f| %>
  <div id="">
    <div class=" mx-auto ">
      <h1 class="mt-24 mb-16 font-black">De quoi est composé votre emballage ? 🤔</h1>
      <p class=" font-normal text-gray-600">Et ensemble, améliorons le tri en France  🇫🇷</p>
      <div class='mt-6 fixed-position-alert'>
        <% flash.each do |type, msg| %>
          <div class="flash flash-warning alert alert-dismissible fade show" role="alert">
            <span><%= msg %></span>
            <a class='alert-quit' data-dismiss="alert" aria-label="Close">
              <i class="alert-quit fas fa-times"></i>
            </a>
          </div>
        <% end %>
      </div>
      <div class="flex justify-between items-end flex-wrap my-6 mt-24">
        <% exist = nil %>
        <% product_compo_name = [] %>
        <% components_name = ["aerosol", "bocal", "boîte", "boîte de conserve", "bouchon", "bouteille", "brique alimentaire", "canette", "flacon", "sachet"] %>
        <% components_name.each do |name| %>
          <% @product.components.each do |compo| %>
            <% product_compo_name << compo.name %>
            <% product_compo_name.include?(name) ? exist = true : exist = false %>
          <% end %>
          <%= render 'component', name: name, exist: exist %>
        <% end %>

      </div>
    </div>

    <!-- MODAL -->

    <div class="overlay hidden fixed inset-0">
      <div class="modale z-10 bg-white">
        <button class="absolute top-0 right-0 p-4 text-4xl text-right"><i class="fas fa-times"></i></button>
        <div class=" flex flex-col items-center">
          <div id="component_image" class="mb-12" ></div>
          <div><p class="font-normal" >Choisissez le matériau de </p></div>
          <div><h2 class="font-medium text-center" id="component_name"></h2></div>
          <div class="flex bg-white my-16 form-component justify-between">
            <%= f.association :material, label: false, input_html: {class: 'flex-grow bg-white text-4xl mt-2'} %>
            <%= f.submit "OK", class: "rounded-full btn-component-form text-4xl" %>
          </div>
          <div >
            <p class="text-3xl font-normal"><em><strong>TIP :</strong> Pour les matériaux en plastique, cherchez le symbole <i class="fas fa-recycle"></i> sur l'emballage, sauf pour les sachets en plastiques, qui sont du PP-5</em> 😉</p>
          </div>
        </div>
      </div>
    </div>



<!-- fixed button si trop de components and scroll -->
    <% unless @product.components.length == 0 %>
      <button id="btn-no-more" class=" text-4xl bg-rose text-white py-4 px-6 btn-component-pink">
        <%=  link_to 'Plus aucun composants à ajouter ?' , product_path(@product)  %>
      </button>
    <% end %>
  </div>
<% end %>
</div>
<div class="mt-64"></div>
<%= render 'shared/navbar-mobile' %>
