<%= simple_form_for [@product, @component] do |f| %>
  <div id="components_form">
    <div class="w-3/4 mx-auto mt-64">
      <p class="text-center">Sélectionnez les composants de votre emballage </p>
      <div class="flex justify-between items-end flex-wrap my-6">

        <% components_name = %w[bouchon canette aerosol pot bouteille brique-alimentaire ] %>
        <% components_name.each do |name| %>
          <%= render 'component', name: name %>
        <% end %>

      </div>
    </div>

    <div class="overlay hidden fixed inset-0">
      <div class="modale relative z-10 m-20 mt-64 bg-white rounded text-center">
        <div id="component_image" class="" > </div>  <!-- #innerHTML src recuperé un JS d'ans le clickable -->
        <h2 id="component_name"></h2> <!-- #innerText recuperé un JS d'ans le clickable -->

          <%= f.association :material %>
          <%= f.submit "Valider" %>
      </div>
    </div>

    <div class="mx-48">
      <%= render 'shared/boutons', title: 'Je n\'ai plus de composants à ajouter', direction: product_path(@product) %>
    </div>
  </div>
<% end %>s
