<div class="image-banner relative flex" style="margin:30px !important; background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.5)), url(' <%= @product.photo_url %>'); background-size: cover; background-position: center;" >
  <div class="margin w-100">

    <div class="flex justify-end">
      <div class="pt-20">
        <div id="star-empty" data-id="<%= @product.id %>" class=" btn-star-block <%= 'hidden ' if in_favorite?(@product.id) %> text-white"><i class="far fa-star"></i></div>
        <div id="star-full" class=" btn-star-block <%= 'hidden' unless in_favorite?(@product.id) %> text-white"><i class="fas fa-star"></i></div>
      </div>
    </div>
    <div><h2 id="city" class='font-black text-6xl text-white pt-16'> <%= product.name %></h2></div>

  </div>
  <div class="inner"></div>
  <div class="minilogo"><%= image_tag "logo.png", alt: "alttext"%></div>

</div>





