<div class="card-product bg-white flex justify-around items-center my-10">
  <!-- FLEXBOX Composants + matériau -->
  <div class="flex flex-col items-center" style="width:350px;">
  <!-- AFFICHAGE DU LOGO COMPOSANTS -->
    <% components_names = ["aerosol", "bocal", "boite", "boite-de-conserve", "bouchon", "bouteille", "brique-alimentaire", "canette", "flacon", "sachet"] %>
    <% components_names.each do |name| %>
      <% if name == component.parameterize %>
          <div><%= image_tag("#{name}.png", width:'120') %></div>
        <% end %>
      <% end %>
    <div class="mt-4"> <p class="text-4xl font-light text-gray-600" ><%= material.capitalize %> </p>  </div>
  </div>
  <!-- Chevron -->
  <div>
    <p style="font-size: 70px !important;"><i class="fas fa-caret-right arrow-one"></i> <i class="fas fa-caret-right arrow-two"></i> <i class="fas fa-caret-right arrow-three"></i></p>
  </div>
  <!-- Poubelles -->
  <div class="flex flex-col items-center text-center" style="width:350px;">
    <% case color %>
      <% when 'verte' %>
        <% image_name = "green-trash" %>
      <% when 'bleue' %>
        <% image_name = "blue-trash" %>
      <% when 'jaune' %>
        <% image_name = "yellow-trash" %>
      <% when 'grise' %>
        <% image_name = "grey-trash" %>
      <% when 'borne de tri - papier' %>
        <% image_name = "blue-borne" %>
      <% when 'borne de tri - verre' %>
        <% image_name = "grey-borne" %>
    <% end %>
    <div><%= image_tag "#{image_name}.png", width:'105' ,class: '' %></div>
    <% unless image_name = "grey-borne" %>
      <div class="mt-4"> <p class="text-4xl font-light text-gray-600" ><%= sorting_instructions %> </p> </div>
    <% else %>
      <div class="mt-4"> <p class="text-4xl font-light text-gray-600" > <%= link_to sorting_instructions , '#map-show' %> </p> </div>
    <% end %>
  </div>
</div>





