<%= link_to product_path(product) do %>
<div class="card-fav bg-white flex justify-between my-5" data-product-id="<%= product.id %>">


    <% picture_product = product.photo_url %>
    <div class="mx-10 my-auto ">
      <%= image_tag picture_product, alt: "alttext", class:"card-fav-img" %>
    </div>

    <div class="flex-grow my-10 mr-12">
      <div class="flex justify-between">
        <div><h3 class="text-5xl font-black "><%= product.name %></h3></div>
        <div><i class="delete-cross text-6xl fas fa-times text-right"></i></div>
      </div>
      <% product.components.each do |component| %>
        <% material = component.material %>
        <div class="flex items-center">
          <% case material.status %>
          <% when "vert" %>
            <div class=""><%= image_tag "pastilles-verte.png", width:"45" %></div>
          <% when "jaune"%>
            <div class=""><%= image_tag "pastilles-jaune.png", width:"45" %></div>
          <% when "rouge" %>
            <div class=""><%= image_tag "pastilles-rouge.png", width:"45" %></div>
          <% end %>

              <div class="my-2 ml-4 flex-grow">
                <p> <%= component.name.capitalize %></p>
                <p>en <strong><%= material.name.downcase %></strong></p>
              </div>
        </div>
      <% end %>
    </div>

</div>
<% end %>





