<nav class="navbar bg-creme fixed-bottom h-24 m-5 rounded-lg shadow-xl">
  <%= link_to '', root_path %><i class="fas fa-stream text-2xl text-sleep"></i>
  <%= link_to '', root_path %><i class="fas fa-map-pin text-2xl text-sleep"></i>
  <%= link_to '', root_path %><i class="fas fa-barcode text-2xl text-sleep"></i>
  <%= link_to '', root_path %><i class="far fa-star text-2xl text-sleep"></i>
  <%= link_to '', root_path %><i class="fas fa-home mr-16 text-2xl text-active"></i>
</nav>
