<%= render 'shared/banner-search'  %>
<% @place = Place.find_by_name_without_case(cookies[:city]) %>


<div class="margin">

  <div data-city= <%=cookies[:city]%> >
    <h1 class='font-black' style='font-size: 95px'>
      <span id='banner-typed-text' style='font-size: 95px' class='pt-50'></span>
    </h1>

    <p class='text-4xl text-gray-600  pt-10 font-normal'>
      Souriez, le tri difficile c'est fini!
    </p>

    <p class='text-4xl font-normal   pt-10 text-gray-600'>
      The Good Wayste, vous simplifie la vie : apprenez à trier vite et bien quelle que soit votre localisation !
    </p>
  </div>



  <div class="card-consigne bg-rose flex content-center my-10">
    <div class="card-product-infos mx-12 my-10">
        <h2 class="font-bold mb-4 text-5xl text-creme">
          Guide du tri
        </h2>
          <% @place.instruction.each do |i| %>
            <p class="text-creme text-4xl text-creme font-medium"><%= i %></p>
          <% end %>
    </div>
  </div>


  <div class="card-consigne bg-body flex content-center my-10">
    <div class="card-product-infos mx-12 my-10">
        <h2 class="font-bold mb-4 text-5xl text-creme">
        Contact
        </h2>

          <% @place.contact.each do |contact| %>
            <p class="text-4xl text-creme font-medium"><%= contact %></p>
          <% end %>

    </div>
  </div>






  <div class="mt-64"></div>
  <%= render 'shared/navbar-mobile' %>
</div>

<!-- afficher instruction dans la première carte
afficher contact dans la deuxième carte -->
<!-- component: componentjjfg,
 -->

