
<div class="margin">
  <h1 class="font-black mt-24">Scannez l'emballage 📸</h1>
  <p class="text-4xl font-normal pt-10 text-gray-600"> Positionnez le code-barre immobile au centre de l'écran et patientez quelques instants</p>

</div>

<div class='fixed-position-alert'>
  <% flash.each do |type, msg| %>
    <div class="flash flash-warning alert alert-dismissible fade show" role="alert">
      <span><%= msg %></span>
      <a class='alert-quit' data-dismiss="alert" aria-label="Close">
        <i class="alert-quit fas fa-times"></i>
      </a>
    </div>
  <% end %>


<div class="my-24 divScanContainer" style="width:680px; margin: auto;">
    <div class= 'divScan'  id="barcode-scanner">
      <div class="scan-b-l"><%= image_tag "bottom-left-scan.png", alt: "alttext" %></div>
      <div class="scan-b-r"><%= image_tag "bottom-right-scan.png", alt: "alttext" %></div>
      <div class="scan-t-l"><%= image_tag "top-left-scan.png", alt: "alttext" %></div>
      <div class="scan-t-r"><%= image_tag "top-right-scan.png", alt: "alttext" %></div>
    </div>
</div>

  <div class="mx-24 ">
    <div class="btn-green-js text-center text-3xl text-gray-600">
      <button>
        <p class="font-light text-gray-600" >Besoin d'aide ?</p>
      </button>
    </div>
<!-- ajout class hidden -->
    <div class="hidden form-green-js text-5xl text-white py-4 px-6 text-center ">
      <form action= '/scan/barcode?val_barcode=' method="get">
        <label for="val_barcode">Saisissez le code-barre</label>

        <div class="flex bg-white rounded-r-full">
          <input type="text" id="val_barcode" name="val_barcode" class="rounded flex-grow text-gray-600">
          <button class="rounded-full">OK</button>
          <!-- <button type="submit" class="rounded-full px-6 py-3">OK</button> -->
        </div>
      </form>
    </div>
  </div>


<div class="mt-64"> </div>
<div class="mb-64"> </div>
    <%= render 'shared/navbar-mobile' %>

