
<%= render 'shared/banner-product', product: @product %>

<div class="margin instruction-cards">
  <h2 class="font-bold mt-10" >Consignes de tri à <%= @city.name %></h2>
  <% borne = nil %>
  <% @product.components.each do |component| %>
    <% component_name = component.name %>
    <% material = component.material %>
    <% material_name = material.name.downcase %>
    <% garbage = Garbage.where(place: @city).where("? = ANY (garbages.accepted_materials)", material.slug).first %>
    <% if garbage.color.include?("borne") %>
      <% borne = true %>
      <% sorting_instructions = " Rendez-vous à la #{garbage.color}" %>
    <% else %>
      <% sorting_instructions = "Poubelle #{garbage.color}" %>
    <% end %>

   <%= render 'shared/card-show' , component: component_name , material: material_name, sorting_instructions: sorting_instructions, color: garbage.color%>
  <% end %>
</div>



<div class="margin recycling-infos">
  <h2 class="font-bold mb-10 mt-24">En savoir plus</h2>
  <% @product.materials.each do |material| %>
    <div class="card-learnmore truncated mb-8">
      <div class="title-status-bloc mb-8 mx-5">
        <div class="title-bloc">
          <h3 class="text-5xl font-black "> <%= material.name %></h2>
          <p class="text-4xl font-light text-gray-600"> <%= material.long_name %> </p>
        </div>
        <div class="status-color mt-5">
          <%case%>
          <% when material.status == "vert" %>
          <div class="green-status text-center text-white font-bold ">
            <button class="status-find"><p id="status-find" class="font-bold text-6xl"> ? </p></button>
          </div>

          <div class="status-color mt-5">
            <%case material.status %>
              <% when "vert" %>
              <div class="">
                <div class="green-status text-center text-white font-bold ">
                  <button class="font-bold status-find"><p id="status-find"> ? </p></button>
                </div>
<!--                 <div class="relative green-recycle recyclability-tooltip">
                  <p><%= material.recyclability %></p>
                </div> -->
              </div>

            <% when "jaune" %>
              <div class="">
                <div class="yellow-status text-center text-white font-bold">
                  <button class="font-bold" id="tooltip"><p>?</p></button>
                </div>
<!--                 <div class="relative yellow-recycle recyclability-tooltip">
                  <p><%= material.recyclability %></p>
                </div> -->
              </div>

            <% when "rouge" %>
              <div class="">
                <div class="red-status text-center text-white font-bold">
                  <button class="font-bold"><p>?</p></button>
                </div>
<!--                 <div class="relative red-recycle recyclability-tooltip">
                  <p><%= material.recyclability %></p>
                </div> -->
              </div>
            <% end %>
          <% when material.status == "jaune"%>
          <div class="yellow-status text-center text-white font-bold">
            <button><p class="font-bold text-6xl">?</p></button>
          </div>

          <% when material.status == "rouge" %>
          <div class="red-status text-center text-white font-bold">
            <button><p class="font-bold text-6xl">?</p></button>
          </div>
          <div class="recyclability-alert">
            <p><% material.recyclability %></p>
          </div>
          <% end %>
        </div>
      </div>
      <div class="description-moreinfo text-justify mx-5">
        <p class="text-gray-600 font-light"><%= material.description %></p>
      </div>
    </div>
  <% end %>
</div>
<% if borne  %>
  <div id="map" class="map-card"
    data-center="<%= @city.attributes.slice('latitude', 'longitude').to_json %>"
    data-markers="<%= @markers.to_json %>"
 >

  </div>
<% end %>

<div class="mt-64"></div>
<%= render 'shared/navbar-mobile' %>

