
<%= render 'shared/banner-product', product: @product %>

<div class="margin instruction-cards">
  <h2 class="font-bold mt-10" >Consignes de tri à <%= @city.name %></h2>
  <% borne = nil %>
  <% @product.components.each do |component| %>
    <% component_name = component.name %>
    <% material = component.material %>
    <% material_name = material.name.downcase %>
    <% garbage = Garbage.where(place: @city).where("? = ANY (garbages.accepted_materials)", material.slug).first %>
    <% if garbage.color.include?("borne") %>
      <% borne = true %>
      <% sorting_instructions = " Rendez-vous à la #{garbage.color}" %>
    <% else %>
      <% sorting_instructions = "Poubelle #{garbage.color}" %>
    <% end %>

    <%= render 'shared/card-show' , component: component_name , material: material_name, sorting_instructions: sorting_instructions, color: garbage.color%>
  <% end %>
</div>

<div class="margin recycling-infos">
  <h2 class="font-bold mb-10 mt-24">En savoir plus</h2>
  <% @product.materials.each do |material| %>
    <div class="card-learnmore truncated mb-8">

      <div class="flex items-start justify-between mb-8 mx-5">
        <div>
          <h3 class="text-5xl font-black "> <%= material.name %></h3>
          <p class="text-4xl font-normal text-gray-600"> <%= material.long_name %> </p>
        </div>
        <div class="status-color">
          <%case material.status%>
          <% when "vert" %>
            <p class="green-status text-center text-white font-bold "></p>

          <% when "jaune" %>
            <p class="yellow-status text-center text-white font-bold"></p>

          <% when "rouge" %>
            <p class="red-status text-center text-white font-bold"></p>
          <% end %>
        </div>

      </div>

      <div class="description-moreinfo text-justify mx-5">
        <p class="text-gray-600 font-normal"><%= material.description %></p>
      </div>
    </div>
  <% end %>

</div>
<% if borne  %>
  <div id="map" class="map-card"
    data-center="<%= @city.attributes.slice('latitude', 'longitude').to_json %>"
    data-markers="<%= @markers.to_json %>"
 >

  <div class="margin" id="map-show">
    <% if borne  %>
      <h2 class="font-bold mb-10 mt-24">Trouver la borne de tri - verre</h2>
      <div id="map2" class="map-card">

      </div>
    <% end %>
  </div>

<div class="mt-64"></div>
<%= render 'shared/navbar-mobile' %>

