<<<<<<< HEAD
<%= render 'shared/banner-simple' %>
<% city = Place.find(1) %>
=======
<% city = Place.find_by(name: cookies[:city]) %>

<%= render 'shared/banner-product', product: @product %>
>>>>>>> 8bb283b9f9778ae9832508304f7b596091ea503b

<div class="scrolling-wrapper">

  <div class="card-scroll">
<<<<<<< HEAD
    <h2 class="font-black ml-16 my-10">Consignes de tri</h2>
    <% @product.components.each do |component| %>
    <% component_name = component.name %>
    <% material = component.material %>
    <% material_name = material.name.downcase %>
    <%
      garbage = Garbage.
        where(place: city).
        where("? = ANY (garbages.accepted_materials)", material.slug).
        first
    %>

    <% if garbage.color.include?("borne") %>
      <% sorting_instructions = " Rendez-vous à la #{garbage.color} la plus proche pour le jeter" %>
    <% else %>
      <% sorting_instructions = "Jetez-le dans la poubelle #{garbage.color}" %>
    <% end %>
=======
    <div class="container">
      <h1>Consignes de tri à <%= city.name %></h1>
      <% @product.components.each do |component| %>
      <% component_name = component.name %>
      <% material = component.material %>
      <% material_name = material.name.downcase %>
      <%
        garbage = Garbage.
          where(place: city).
          where("? = ANY (garbages.accepted_materials)", material.slug).
          first
      %>
>>>>>>> 8bb283b9f9778ae9832508304f7b596091ea503b

      <% if garbage.color.include?("borne") %>
        <% sorting_instructions = " Rendez-vous à la #{garbage.color} la plus proche pour le jeter" %>
      <% else %>
        <% sorting_instructions = "Jetez-le dans la poubelle #{garbage.color}" %>
      <% end %>


     <%= render 'shared/card-show' , component: component_name , material: material_name, sorting_instructions: sorting_instructions, color: garbage.color%>
      <% end %>
    </div>
  </div>

  <div class="card-scroll">
    <h1>Infos sur les matériaux</h1>
    <% @product.materials.each do |material| %>
      <h2> <%= material.name %></h2>
      <p><%= material.description %></p>
    <% end %>
  </div>
</div>

